<div>
    <ul class="sidebar-list">
        <li class="tool-hover">
            <a class="assign-email cursor-pointer tool-hover">
                <div class="text-gray mx-auto">
                    <span class="icon-team"></span>
                </div>
            </a>
            <div class="tool-text">Assign Email</div>
        </li>
        <li class="tool-hover">
            <a class="connect cursor-pointer">
                <div class="text-gray mx-auto">
                    <span class="icon-share-2"></span>
                </div>
            </a>
            <div class="tool-text">Connect</div>
        </li>
        <li class="tool-hover">
            <a class="open-email cursor-pointer">
                <div class="text-gray mx-auto">
                    <span class="icon-package-open"></span>
                </div>
            </a>
            <div class="tool-text">Opened emails</div>
        </li>
        <li class="tool-hover">
            <a class="unopen-email cursor-pointer">
                <div class="text-gray mx-auto">
                    <span class="icon-package"></span>
                </div>
            </a>
            <div class="tool-text">Unopened emails</div>
        </li>
        <li class="tool-hover">
            <a class="add-team cursor-pointer">
                <div class="text-gray mx-auto">
                    <span class="icon-contact"></span>
                </div>
            </a>
            <div class="tool-text">Add to team</div>
        </li>
        <li class="tool-hover">
            <a class="ask-ai cursor-pointer">
                <div class="text-gray mx-auto">
                    <span class="icon-brain"></span>
                </div>
            </a>
            <div class="tool-text">Ask AI</div>
        </li>
    </ul>
</div>