<!-- Assign Email Popup -->
<div class="card card-body overflow-hidden mail-assignpopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-assign-email-desktop" class="h-100"></div>
</div>

<!-- Connect Popup -->
<div class="card card-body overflow-hidden mail-connectpopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-connect-desktop" class="h-100"></div>
</div>

<!-- Team Popup -->
<div class="card card-body overflow-hidden mail-teampopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-team-desktop" class="h-100"></div>
</div>

<!-- Open Email Popup -->
<div class="card card-body overflow-hidden mail-openpopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-open-email-desktop" class="h-100"></div>
</div>

<!-- Unopened Email Popup -->
<div class="card card-body overflow-hidden mail-unopenpopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-unopen-email-desktop" class="h-100"></div>
</div>

<!-- Ask AI Popup -->
<div class="card card-body overflow-hidden mail-askaipopup p-0">
    <div class="sidebar-mobile-overlay"></div>
    <div id="content-ask-ai-desktop" class="h-100"></div>
</div>