<div class="mail-body w-100 h-100">
    <div class="popup-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center column-gap-2 text-dark"><span class="icon-package-open"></span> Open
                Email</div>
            <div class="d-flex align-items-center column-gap-3">
                <a href="javascript:void(0);" class="btn-modal-minimize"><span class="icon-minus"></span></a>
                <a href="javascript:void(0);" class="btn-fullwidth-toggle"><span class="icon-maximize-2"></span></a>
                <a href="#" class="close"><span class="icon-x"></span></a>
            </div>
        </div>
    </div>
    <div class="popup-body h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="d-flex p-3 align-items-center justify-content-between">
                    <form class="d-flex align-items-center rounded-2 position-relative w-100" action="#">
                        <i class="fi fi-rr-search search-icon d-flex align-items-center"></i>
                        <input type="text" class="form-control ps-5" placeholder="Search mail">
                    </form>
                </div>
                <div class="px-3 pb-3 open-box d-flex flex-column row-gap-3 scroll h-100 overflow-auto">
                    <div>
                        <p class="mb-1 label">Date: 09/11/2025</p>
                        <div class="d-flex flex-column row-gap-3">
                            <div class="boxopen p-3 d-flex flex-column row-gap-2">
                                <p class="mb-0 label"> From:<span class="text-gray"> pixelmarket@gmail.com</span></p>
                                <p class="mb-0 label"> Label: <span class="text-gray"> Pixeln Market </span></p>
                                <p class="mb-0 label"> Subject: <span class="text-gray"> fresh color kit </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>